.dark-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  position: absolute;
  bottom: 5px;
  right: calc(50vw - 24px);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
  .library-header & {
    bottom: 5px;
  }
}

.dark-toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 48px;
  height: 22px;
  position: relative;
  vertical-align: middle;
  transition: background-color 0.25s;
  top: -2px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-toggle-switch:before,
.dark-toggle-switch:after {
  content: '';
}

.dark-toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.dark-toggle:hover .dark-toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.dark-toggle-checkbox:checked + .dark-toggle-switch {
  background: #4c4b52;
}

.dark-toggle-checkbox:checked + .dark-toggle-switch:before {
  left: 30px;
}

.dark-toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.dark-toggle__mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.dark-toggle-label {
  position: relative;

  color: white;

  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0.1px 0.1px 0.1px $main-accent-color;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.darkmode--activated .dark-toggle-label {
  color: $main-accent-color;
  text-shadow: 0.1px 0.1px 0.1px white;
}

.darkmode--activated .darkmode-layer {
  background: transparent;
}

body.darkmode--activated,
.darkmode--activated main,
.darkmode--activated footer {
  background-color: #000;
}

.darkmode--activated footer {
  border-top: 1px solid $main-accent-color;
}

.darkmode--activated .trending-gallery__title {
  color: white;
}

.darkmode--activated .pagination__btn {
  background-color: $primary-black-color;
  color: $primary-white-color;
  border: 1px solid transparent;
  transition: border-color $cubic, color $cubic;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $primary-black-color;
    border: 1px solid $main-accent-color;
    color: $main-accent-color;
  }
}

.darkmode--activated .pagination__btn--active {
  background-color: $main-accent-color;
}

.darkmode--activated .pagination__btn--prev,
.darkmode--activated .pagination__btn--next {
  background-color: $additional-text-color-1;
  transition: border-color $cubic, background-color $cubic;
  border: 1px solid transparent;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $main-accent-color;
    border: 1px solid $main-accent-color;
    color: $main-accent-color;
  }
}

.darkmode--activated .pagination__btn--prev {
  background-image: url(../images/icons/arrow-left-white.svg);
}

.darkmode--activated .pagination__btn--next {
  background-image: url(../images/icons/arrow-right-white.svg);
}
.darkmode--activated .pagination__btn--ellipsis {
  background-image: url(../images/icons/ellipsis-white.svg);
}

// .darkmode--activated .pagination__btn:not(.pagination__btn--active) {
//   &:hover,
//   &:focus,
//   &:active {
//     border: 1px solid $main-accent-color;
//     color: $main-accent-color;
//   }
// }

// .darkmode--activated .pagination__btn--active {
//   background-color: $main-accent-color;
//   border: 1px solid transparent;
// }

// .darkmode--activated .pagination__btn:not(.pagination__btn--active) {
//   background-color: $primary-black-color;
//   color: $primary-white-color;
//   border: 1px solid transparent;
//   transition: border-color $cubic, color $cubic;
// }

#day-night-icon {
  fill: $primary-white-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.darkmode--activated #day-night-icon {
  fill: $main-accent-color;
}

.darkmode--activated .footer__text,
.darkmode--activated .footer__text-link {
  color: $additional-text-color-2;
}

//dark mode switch transitions
body,
main,
footer,
.pagination__btn,
.pagination__btn--prev,
.pagination__btn--next {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pagination__btn--prev,
.pagination__btn--next,
.pagination__btn--ellipsis {
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__text,
.footer__text-link,
.trending-gallery__title {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  transition: border-top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
