<form class="advanced-search search--advanced-js visually-hidden">
  <input
    name="year"
    type="number"
    min="0"
    class="advanced-search__year advanced-search__input"
    placeholder="Enter film`s year"
  />
  <select
    name="monetization"
    class="advanced-search__monetization advanced-search__select"
  >
    <option value="" class="advanced-search__option--main">
      Enter desired film`s monetization
    </option>
    <option value="BUY" class="advanced-search__option">buy</option>
    <option value="RENT" class="advanced-search__option">rent</option>
    <option value="ADS" class="advanced-search__option">ads</option>
    <option value="FREE" class="advanced-search__option">free</option>
    <option value="FLATRATE" class="advanced-search__option">flatrate</option>
  </select>
  <button class="advanced-search__submit" type="submit">Search</button>
  <div class="advanced-search__chosen-window visually-hidden">
    <h3 class="advanced-search__chosen-title">Searched by:</h3>
    <div class="advanced-search__chosen"></div>
  </div>
</form>
