<form class="advanced-search search--advanced-js visually-hidden">
  <input
    name="year"
    type="number"
    id=""
    class="advanced-search__year"
    placeholder="Enter film`s year"
  />
  <select name="monetization" id="" class="advanced-search__monetization">
    <option value="">Enter desired film`s monetization</option>
    <option value="BUY">buy</option>
    <option value="RENT">rent</option>
    <option value="ADS">ads</option>
    <option value="FREE">free</option>
    <option value="FLATRATE">flatrate</option>
  </select>
  <checkbox class="advanced-search__adult"></checkbox>
  <button class="advanced-search__submit" type="submit">Search</button>
</form>
