<div class="overflow hidden-movie-modal">
  <div class="movie-modal hidden-movie-modal">
    <div class="movie-modal__main">
      <div class="movie-modal__buttons">
        <button class="movie-modal__btn-watched interactive-button">
          add to Watched
        </button>
        <button class="movie-modal__btn-queue interactive-button">
          add to queue
        </button>
      </div>
    </div>

    <button class="movie-modal__close-btn">
      <svg width="14" height="14" class="icon-movie-modal-close">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
