.footer {
  background-color: $additional-bg-color;
}
.footer__container {
  padding-top: 28.71px;
  padding-right: 36px;
  padding-bottom: 29.7px;
  padding-left: 48px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-right: 143px;
    padding-bottom: 30px;
    padding-left: 143px;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 390px;
    padding-bottom: 28px;
    padding-left: 408px;
  }
}
.footer__text {
  text-align: center;
  color: $additional-text-color-1;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18px;
  }
}

@media screen and (max-width: 767px) {
  .footer__text-bottom {
    display: block;
    margin-top: 9.9px;
  }
}

.footer__text-link {
  color: $additional-text-color-1;
  text-decoration: underline;
}
.footer__heart-svg {
  fill: $active-btn-color;
  transition: fill $cubic;

  &:hover,
  &:focus {
    fill: $info-color;
  }

  @media screen and (min-width: 768px) {
    height: 12.88px;
  }
}

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  transition: opacity $cubic;
}

.basicLightbox--visible {
  opacity: 1;
}

.modal {
  position: relative;
  padding: 40px 40px;
  width: 550px;
  max-width: 1300px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
}

@media (max-width: 550px) {
  .modal {
    margin: 0 5%;
    width: 90%;
  }
}
.modal__title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__icon-close {
  fill: $active-btn-color;
  transition: fill $cubic;
}
