.header {
  padding-top: 40px;
  padding-bottom: 81px;
  background-color: $header-background-color;
  background-image: url(../images/home-background/mobile-background-home.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding-bottom: 75px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/home-background/mobile-background-home@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/home-background/tablet-background-home.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/home-background/tablet-background-home@2x.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/home-background/desktop-background-home.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url(../images/home-background/desktop-background-home@2x.jpg);
  }
}

.header__link-container {
  margin-bottom: 54px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    margin-bottom: 41px;
  }
}

.nav {
  display: flex;
  gap: 60px;
  align-items: center;

  @media screen and (min-width: 768px) {
    gap: 320px;
  }

  @media screen and (min-width: 1280px) {
    gap: 820px;
  }
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo-img {
  stroke: $primary-white-color;

  @media screen and (min-width: 1280px) {
    margin-right: 10px;
  }
}

.nav__logo-text {
  margin-left: 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: $primary-white-color;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 10px;
  }
}

.nav__list {
  display: flex;
  column-gap: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $primary-white-color;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background: $info-color;
}

.search {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 20px;

  @media screen and (max-width: 319px) {
    width: 100%;
  }

  @media screen and (min-width: 320px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 0.5px;
    background-color: $primary-white-color;
    transition: background-color $cubic;
  }

  &:focus-within::after {
    background-color: $active-btn-color;
  }
}

.search__input,
.search__btn {
  border: none;
  background: transparent;
}

.search__input {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $primary-white-color;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $primary-white-color;
    opacity: 0.7;
  }
}

.search__btn {
  fill: $primary-white-color;
  transform: scale(1);
  transition: fill $cubic, transform $cubic;

  &:hover {
    transform: scale(1.3);
  }
}

.search__icon {
  fill: inherit;
}

.search__input:focus + .search__btn {
  fill: $active-btn-color;
}

// .sign-in-btn {
//   background-color: transparent;
//   width: 35px;
//   height: 35px;
//   border: 2px solid $primary-white-color;
//   border-radius: 50%;
//   fill: $primary-white-color;

//   @media screen and (min-width: 768px) {
//     width: 40px;
//     height: 40px;
//   }

//   &:hover,
//   &:focus {
//     fill: $active-btn-color;
//     border-color: $active-btn-color;
//   }
// }
