.header {
  padding-top: 40px;
  padding-bottom: 92px;
  background-color: $header-background-color;
  background-image:  // linear-gradient(
    // //     0deg,
    // //     rgba(0, 0, 0, 0.2),
    // //     rgba(0, 0, 0, 0.2)
    // //   ),
    url(../images/home-background/mobile-background-home.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding-bottom: 81px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image:
    // linear-gradient(
    //     0deg,
    //     rgba(0, 0, 0, 0.2),
    //     rgba(0, 0, 0, 0.2)
    //   ),
      url(../images/home-background/mobile-background-home@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image:
    // linear-gradient(
    //     0deg,
    //     rgba(0, 0, 0, 0.2),
    //     rgba(0, 0, 0, 0.2)
    //   ),
      url(../images/home-background/tablet-background-home.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image:
    // linear-gradient(
    //     0deg,
    //     rgba(0, 0, 0, 0.2),
    //     rgba(0, 0, 0, 0.2)
    //   ),
      url(../images/home-background/tablet-background-home@2x.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image:
    // linear-gradient(
    //     0deg,
    //     rgba(0, 0, 0, 0.2),
    //     rgba(0, 0, 0, 0.2)
    //   ),
      url(../images/home-background/desktop-background-home.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image:
    // linear-gradient(
    //     0deg,
    //     rgba(0, 0, 0, 0.2),
    //     rgba(0, 0, 0, 0.2)
    //   ),
      url(../images/home-background/desktop-background-home@2x.jpg);
  }
}

.header__link-container {
  margin-bottom: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  // margin-right: auto;
  // margin-bottom: 54px;
  display: flex;
  gap: 50px;
  align-items: center;
  // justify-content: left;

  @media screen and (min-width: 768px) {
    // margin-bottom: 40px;
    gap: 300px;
  }

  @media screen and (min-width: 1280px) {
    // margin-bottom: 40px;
    gap: 800px;
  }
}

.nav__logo {
  // margin-right: 200px;
  display: flex;
  align-items: center;
}

.nav__logo-img {
  margin-right: 8px;
  stroke: $primary-white-color;

  @media screen and (min-width: 1280px) {
    margin-right: 10px;
  }
}

.nav__logo-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: $primary-white-color;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  column-gap: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $primary-white-color;
}

.search {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 20px;

  @media screen and (max-width: 319px) {
    width: 100%;
  }

  @media screen and (min-width: 320px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 0.5px;
    background-color: $primary-white-color;
  }

  &:focus-within::after {
    background-color: $active-btn-color;
  }
}

.search__input,
.search__btn {
  border: none;
  background: transparent;
}

.search__input {
  // margin-right: auto;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $primary-white-color;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $primary-white-color;
  }
}

.search__icon {
  fill: $primary-white-color;

  &:hover,
  &:focus {
    fill: $active-btn-color;
  }
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background: $info-color;
}

.sign-in-btn {
  background-color: transparent;
  width: 35px;
  height: 35px;
  border: 1.5px solid $primary-white-color;
  border-radius: 50%;
  fill: $primary-white-color;

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    fill: $active-btn-color;
    border-color: $active-btn-color;
  }
}
